{
    "swagger": "2.0",
    "produces": [
        "application/json"
    ],
    "host": "api.tool.directory",
    "info": {
        "description": "An API to discover and contribute information about software tools",
        "version": "0.4.0",
        "title": "Tool Directory API"
    },
    "basePath": "/api/v1",
    "consumes": [
        "application/json"
    ],
    "schemes": [
        "http"
    ],
    "paths": {
        "/capabilities": {
            "post": {
                "description": "Creates a new capability",
                "tags": [
                    "capability"
                ],
                "parameters": [
                    {
                        "name": "capability",
                        "in": "body",
                        "description": "Capability to add",
                        "schema": {
                            "properties": {
                                "capability": {
                                    "$ref": "#/definitions/capability"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "addCapability",
                "responses": {
                    "200": {
                        "description": "capability response",
                        "schema": {
                            "properties": {
                                "capability": {
                                    "$ref": "#/definitions/capability"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "get": {
                "description": "Returns all capabilities",
                "tags": [
                    "capability"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findCapabilities",
                "responses": {
                    "200": {
                        "description": "capability response",
                        "schema": {
                            "properties": {
                                "capabilities": {
                                    "items": {
                                        "$ref": "#/definitions/capability"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/capabilities/{id}": {
            "get": {
                "description": "Returns a capability based on ID",
                "tags": [
                    "capability"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of capability to fetch",
                        "type": "integer",
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findCapabilityById",
                "responses": {
                    "200": {
                        "description": "capability response",
                        "schema": {
                            "properties": {
                                "capability": {
                                    "$ref": "#/definitions/capability"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No capability with specified id exist",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "put": {
                "description": "Update capability",
                "tags": [
                    "capability"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of capability to update",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "capability",
                        "in": "body",
                        "description": "Capability properties to update",
                        "schema": {
                            "properties": {
                                "capability": {
                                    "$ref": "#/definitions/capability"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "updateCapability",
                "responses": {
                    "200": {
                        "description": "capability response",
                        "schema": {
                            "$ref": "#/definitions/capability"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single capability based on the ID supplied",
                "tags": [
                    "capability"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of capability to delete",
                        "type": "integer",
                        "required": true
                    }
                ],
                "operationId": "deleteCapability",
                "responses": {
                    "204": {
                        "description": "capability deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/concepts": {
            "post": {
                "description": "Creates a new concept",
                "tags": [
                    "concept"
                ],
                "parameters": [
                    {
                        "name": "concept",
                        "in": "body",
                        "description": "Concept to add",
                        "schema": {
                            "properties": {
                                "concept": {
                                    "$ref": "#/definitions/concept"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "addConcept",
                "responses": {
                    "200": {
                        "description": "concept response",
                        "schema": {
                            "properties": {
                                "concept": {
                                    "$ref": "#/definitions/concept"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "get": {
                "description": "Returns all concepts",
                "tags": [
                    "concept"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findConcepts",
                "responses": {
                    "200": {
                        "description": "concept response",
                        "schema": {
                            "properties": {
                                "concepts": {
                                    "items": {
                                        "$ref": "#/definitions/concept"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/concepts/{id}": {
            "get": {
                "description": "Returns a concept based on ID",
                "tags": [
                    "concept"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of concept to fetch",
                        "type": "integer",
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findConceptById",
                "responses": {
                    "200": {
                        "description": "concept response",
                        "schema": {
                            "properties": {
                                "concept": {
                                    "$ref": "#/definitions/concept"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No concept with specified id exist",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "put": {
                "description": "Update concept",
                "tags": [
                    "concept"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of concept to update",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "concept",
                        "in": "body",
                        "description": "Concept properties to update",
                        "schema": {
                            "properties": {
                                "concept": {
                                    "$ref": "#/definitions/concept"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "updateConcept",
                "responses": {
                    "200": {
                        "description": "concept response",
                        "schema": {
                            "$ref": "#/definitions/concept"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single concept based on the ID supplied",
                "tags": [
                    "concept"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of concept to delete",
                        "type": "integer",
                        "required": true
                    }
                ],
                "operationId": "deleteConcept",
                "responses": {
                    "204": {
                        "description": "concept deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/tools": {
            "post": {
                "description": "Creates a new tool",
                "tags": [
                    "tool"
                ],
                "parameters": [
                    {
                        "name": "tool",
                        "in": "body",
                        "description": "Tool to add",
                        "schema": {
                            "properties": {
                                "tool": {
                                    "$ref": "#/definitions/tool"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "addTool",
                "responses": {
                    "200": {
                        "description": "tool response",
                        "schema": {
                            "properties": {
                                "tool": {
                                    "$ref": "#/definitions/tool"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "get": {
                "description": "Returns all tools",
                "tags": [
                    "tool"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findTools",
                "responses": {
                    "200": {
                        "description": "tool response",
                        "schema": {
                            "properties": {
                                "tools": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/tool"
                                    }
                                },
                                "features": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/feature"
                                    }
                                },
                                "capabilities": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/capability"
                                    }
                                },
                                "concepts": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/concept"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/tools/{id}": {
            "get": {
                "description": "Returns a tool based on ID",
                "tags": [
                    "tool"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool to fetch",
                        "type": "integer",
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "findToolById",
                "responses": {
                    "200": {
                        "description": "tool response",
                        "schema": {
                            "properties": {
                                "tool": {
                                    "$ref": "#/definitions/tool"
                                },
                                "features": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/feature"
                                    }
                                },
                                "capabilities": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/capability"
                                    }
                                },
                                "concepts": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/concept"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No tool with specified id exists",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "put": {
                "description": "Update tool",
                "tags": [
                    "tool"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool to update",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "tool",
                        "in": "body",
                        "description": "Tool properties to update",
                        "schema": {
                            "properties": {
                                "tool": {
                                    "$ref": "#/definitions/tool"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "updateTool",
                "responses": {
                    "200": {
                        "description": "tool response",
                        "schema": {
                            "$ref": "#/definitions/tool"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single tool based on the ID supplied",
                "tags": [
                    "tool"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool to delete",
                        "type": "integer",
                        "required": true
                    }
                ],
                "operationId": "deleteTool",
                "responses": {
                    "204": {
                        "description": "tool deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/tools/{id}/features": {
            "post": {
                "description": "Creates a new feature",
                "tags": [
                    "feature"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool that the feature belongs to",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "feature",
                        "in": "body",
                        "description": "Feature to add",
                        "schema": {
                            "properties": {
                                "feature": {
                                    "$ref": "#/definitions/feature"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "addFeature",
                "responses": {
                    "200": {
                        "description": "feature response",
                        "schema": {
                            "properties": {
                                "feature": {
                                    "$ref": "#/definitions/feature"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/tools/{id}/features/{fid}": {
            "put": {
                "description": "Update feature",
                "tags": [
                    "feature"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool that the feature belongs to",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "fid",
                        "description": "ID of feature to update",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "feature",
                        "in": "body",
                        "description": "Feature properties to update",
                        "schema": {
                            "properties": {
                                "feature": {
                                    "$ref": "#/definitions/feature"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "updateFeature",
                "responses": {
                    "200": {
                        "description": "feature response",
                        "schema": {
                            "$ref": "#/definitions/feature"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "deletes a single feature based on the ID supplied",
                "tags": [
                    "feature"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "id",
                        "description": "ID of tool that the feature belongs to",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "in": "path",
                        "format": "int64",
                        "name": "fid",
                        "description": "ID of feature to delete",
                        "type": "integer",
                        "required": true
                    }
                ],
                "operationId": "deleteFeature",
                "responses": {
                    "204": {
                        "description": "feature deleted"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "capability": {
            "properties": {
                "created": {
                    "description": "When this item was created",
                    "format": "dateTime",
                    "type": "string"
                },
                "description": {
                    "description": "A description of this item",
                    "type": "string"
                },
                "id": {
                    "description": "Unique identifier",
                    "type": "number"
                },
                "keywords": {
                    "description": "List of applicable keywords",
                    "type": "array",
                    "items": {
                        "description": "keyword / alias",
                        "type": "string"
                    }
                },
                "subTitle": {
                    "description": "Human readable sub title",
                    "type": "string"
                },
                "title": {
                    "description": "Human readable title",
                    "type": "string"
                },
                "updated": {
                    "description": "When this item was last modified",
                    "format": "dateTime",
                    "type": "string"
                }
            }
        },
        "concept": {
            "properties": {
                "created": {
                    "description": "When this item was created",
                    "format": "dateTime",
                    "type": "string"
                },
                "description": {
                    "description": "A description of this item",
                    "type": "string"
                },
                "id": {
                    "description": "Unique identifier",
                    "type": "number"
                },
                "keywords": {
                    "description": "List of applicable keywords",
                    "type": "array",
                    "items": {
                        "description": "keyword / alias",
                        "type": "string"
                    }
                },
                "subTitle": {
                    "description": "Human readable sub title",
                    "type": "string"
                },
                "title": {
                    "description": "Human readable title",
                    "type": "string"
                },
                "updated": {
                    "description": "When this item was last modified",
                    "format": "dateTime",
                    "type": "string"
                }
            }
        },
        "feature": {
            "properties": {
                "capability": {
                    "description": "Capability unique id",
                    "type": "number"
                },
                "created": {
                    "description": "When this item was created",
                    "format": "dateTime",
                    "type": "string"
                },
                "description": {
                    "description": "A description of this item",
                    "type": "string"
                },
                "id": {
                    "description": "Unique identifier",
                    "type": "number"
                },
                "keywords": {
                    "description": "List of applicable keywords",
                    "type": "array",
                    "items": {
                        "description": "keyword / alias",
                        "type": "string"
                    }
                },
                "subTitle": {
                    "description": "Human readable sub title",
                    "type": "string"
                },
                "supports": {
                    "description": "List of supported concepts",
                    "type": "array",
                    "items": {
                        "description": "concept unique id",
                        "type": "number"
                    }
                },
                "title": {
                    "description": "Human readable title",
                    "type": "string"
                },
                "updated": {
                    "description": "When this item was last modified",
                    "format": "dateTime",
                    "type": "string"
                }
            }
        },
        "tool": {
            "properties": {
                "created": {
                    "description": "When this item was created",
                    "format": "dateTime",
                    "type": "string"
                },
                "description": {
                    "description": "A description of this item",
                    "type": "string"
                },
                "id": {
                    "description": "Unique identifier",
                    "type": "number"
                },
                "features": {
                    "description": "List of implemented features",
                    "type": "array",
                    "items": {
                        "description": "feature unique id",
                        "type": "number"
                    }
                },
                "keywords": {
                    "description": "List of applicable keywords",
                    "type": "array",
                    "items": {
                        "description": "keyword / alias",
                        "type": "string"
                    }
                },
                "subTitle": {
                    "description": "Human readable sub title",
                    "type": "string"
                },
                "title": {
                    "description": "Human readable title",
                    "type": "string"
                },
                "updated": {
                    "description": "When this item was last modified",
                    "format": "dateTime",
                    "type": "string"
                }
            }
        },
        "errorModel": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "code": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "required": [
                "code",
                "message"
            ]
        }
    }
}