<p>Can't find the tool you are looking for? Contribute by {{#link-to 'tool' 'new'}}adding it{{/link-to}} to the directory.</p>

{{#each model as |tool|}}
<div class="panel panel-default tool">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{#link-to 'tool' tool classNames='tool-title'}}{{tool.title}}{{/link-to}}
      ({{tool.subTitle}})
      <small>
      {{#each tool.implements as |implements|}}
        {{#each implements.feature.isCapableOf as |isCapableOf|}}
          {{#link-to 'task' isCapableOf.task classNames='task-title'}}{{isCapableOf.task.title}}{{/link-to}}
        {{/each}}
      {{/each}}
      </small>
    </h3>
  </div>
  <div class="panel-body">
    {{tool.description}}
  </div>
</div>
{{/each}}
