<p>Can't find the tool you are looking for? Contribute by {{#link-to 'tool' 'new'}}adding it{{/link-to}} to the directory.</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |tool|}}
    <tr {{action 'details' tool on="click"}}>
      <td>{{tool.title}}</td>
      <td>{{tool.subTitle}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
